<!-- templates/home.html -->
{% extends "base.html" %}

{% block content %}
  <h1>Home Page</h1>
 <h3>COMP4949 Assignment 2 by Amir Eskandari</h3>
 <p> This application uses a logistic regression model to predict the likelihood of a patient having breast cancer based on input data.</p>
 <p> To test this out, please input a positive integer for each of the features below.</p>

  <!-- This form references the homePost route. -->
  <form action="{% url 'homePost' %}" method="post" novalidate>
    {% csrf_token %}

    <!-- Input fields for the new variables with Bootstrap and HTML5 validation -->
    <div class="input-group mb-3 has-validation">
      <span class="input-group-text">Uniformity of Cell Size</span>
      <input type="number" name="uniformity_of_cell_size" class="form-control" min="1" required placeholder="Enter a positive integer">
      <div class="invalid-feedback">
        Please provide a valid uniformity of cell size (positive integer only).
      </div>
    </div>

    <div class="input-group mb-3 has-validation">
      <span class="input-group-text">Uniformity of Cell Shape</span>
      <input type="number" name="uniformity_of_cell_shape" class="form-control" min="1" required placeholder="Enter a positive integer">
      <div class="invalid-feedback">
        Please provide a valid uniformity of cell shape (positive integer only).
      </div>
    </div>

    <div class="input-group mb-3 has-validation">
      <span class="input-group-text">Bare Nuclei</span>
      <input type="number" name="bare_nuclei" class="form-control" min="1" required placeholder="Enter a positive integer">
      <div class="invalid-feedback">
        Please provide a valid bare nuclei value (positive integer only).
      </div>
    </div>

    <div class="input-group mb-3 has-validation">
      <span class="input-group-text">Bland Chromatin</span>
      <input type="number" name="bland_chromatin" class="form-control" min="1" required placeholder="Enter a positive integer">
      <div class="invalid-feedback">
        Please provide a valid bland chromatin value (positive integer only).
      </div>
    </div>

    <div class="input-group mb-3 has-validation">
      <span class="input-group-text">Normal Nucleoli</span>
      <input type="number" name="normal_nucleoli" class="form-control" min="1" required placeholder="Enter a positive integer">
      <div class="invalid-feedback">
        Please provide a valid normal nucleoli value (positive integer only).
      </div>
    </div>

    <div class="input-group mb-3 has-validation">
      <span class="input-group-text">Clump Thickness</span>
      <input type="number" name="clump_thickness" class="form-control" min="1" required placeholder="Enter a positive integer">
      <div class="invalid-feedback">
        Please provide a valid clump thickness value (positive integer only).
      </div>
    </div>

    <!-- Submit button -->
    <div class="input-group mb-3">
      <button type="submit" class="btn btn-dark form-control">Submit Data</button>
    </div>
  </form>

  <!-- This error will notify the user if there are issues with the POST request -->
  {% if errorMessage %}
    <div class="alert alert-danger" role="alert">
      <strong>{{ errorMessage }}</strong>
    </div>
  {% endif %}

  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}

{% endblock content %}
